<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>section0_0</key>
	<dict>
		<key>title</key>
		<string>第一步：验证当前密保手机号</string>
		<key>detailtitle</key>
		<string></string>
		<key>titlecolor</key>
		<string>gray</string>
		<key>titlefontsize</key>
		<integer>15</integer>
		<key>cellclass</key>
		<string>HBLabelCell</string>
		<key>sel_selector_str</key>
		<string>selectAction:</string>
		<key>sectionheight</key>
		<integer>0</integer>
		<key>selectionStyle</key>
		<false/>
		<key>cellheight</key>
		<integer>50</integer>
		<key>accessory</key>
		<false/>
		<key>CellStyleValue</key>
		<integer>0</integer>
		<key>showBottomLine</key>
		<false/>
		<key>showTopLine</key>
		<false/>
		<key>imageCornerRadius</key>
		<false/>
		<key>imageRight</key>
		<false/>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string>clear</string>
		</dict>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
	</dict>
	<key>section0_1</key>
	<dict>
		<key>title</key>
		<string>当前手机号：1234131512525</string>
		<key>detailtitle</key>
		<string></string>
		<key>titlecolor</key>
		<string></string>
		<key>cellclass</key>
		<string>HBLabelCell</string>
		<key>sel_selector_str</key>
		<string>selectAction:</string>
		<key>sectionheight</key>
		<integer>0</integer>
		<key>selectionStyle</key>
		<false/>
		<key>cellheight</key>
		<integer>55</integer>
		<key>accessory</key>
		<false/>
		<key>CellStyleValue</key>
		<integer>0</integer>
		<key>showBottomLine</key>
		<false/>
		<key>showTopLine</key>
		<false/>
		<key>imageCornerRadius</key>
		<false/>
		<key>imageRight</key>
		<false/>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string>clear</string>
		</dict>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
	</dict>
	<key>section0_2</key>
	<dict>
		<key>title</key>
		<string>123456</string>
		<key>detailtitle</key>
		<string>请输入短信验证码</string>
		<key>titlecolor</key>
		<string>gray</string>
		<key>cellclass</key>
		<string>TextFieldCell</string>
		<key>sel_selector_str</key>
		<string>selectAction:</string>
		<key>sectionheight</key>
		<integer>20</integer>
		<key>selectionStyle</key>
		<false/>
		<key>cellheight</key>
		<integer>44</integer>
		<key>accessory</key>
		<false/>
		<key>rightValue</key>
		<string>获取验证码</string>
		<key>CellStyleValue</key>
		<integer>0</integer>
		<key>showBottomLine</key>
		<false/>
		<key>showTopLine</key>
		<false/>
		<key>imageCornerRadius</key>
		<false/>
		<key>imageRight</key>
		<false/>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string>white</string>
		</dict>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
	</dict>
	<key>section1_0</key>
	<dict>
		<key>title</key>
		<string>下一步</string>
		<key>detailtitle</key>
		<string></string>
		<key>titlecolor</key>
		<string>white</string>
		<key>cellclass</key>
		<string>HBLabelCell</string>
		<key>sel_selector_str</key>
		<string>selectAction:</string>
		<key>sectionheight</key>
		<integer>20</integer>
		<key>selectionStyle</key>
		<true/>
		<key>cellheight</key>
		<integer>44</integer>
		<key>accessory</key>
		<false/>
		<key>CellStyleValue</key>
		<integer>0</integer>
		<key>showBottomLine</key>
		<false/>
		<key>showTopLine</key>
		<false/>
		<key>imageCornerRadius</key>
		<false/>
		<key>imageRight</key>
		<false/>
		<key>dictionary</key>
		<dict>
			<key>key_cellstruct_background</key>
			<string>orange</string>
			<key>key_cellstruct_textAlignment</key>
			<string>center</string>
		</dict>
		<key>tempvalue</key>
		<string></string>
		<key>titleLabelNumberOfLines</key>
		<string></string>
	</dict>
</dict>
</plist>
